.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle/
ios/Pods/
macos/Flutter/ephemeral/
windows/flutter/
linux/flutter/ephemeral/

assets/runtime/*
!assets/runtime/.gitkeep
